body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: cener;
    height: 100vh;
    margin: 0;
    background-color:#FADEEB;
    }

h1 {
    color: #D80065;
}

.calculator {
    background: pink;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    max-height: 410px;
    }
  
  #display {
    background: #FADEEB;
    color: black;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .buttons button {
    flex: 1 20%;
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background: #D80065;
    color: white;
  }
  
  .buttons button:hover {
    background: #A8004E;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  
  
  
  
  
  